.DS_Store
.binstubs*/
.bundle/
.rspec
Gemfile.lock
log/*.log
pkg/
results/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/public/javascripts/named_routes.js
spec/dummy/.sass-cache
tmp/*
vendor/bundle
